do_token            = "replace-with-digitalocean-token"
project_name        = "sre-app"
region              = "fra1"
droplet_size        = "s-1vcpu-2gb"
image               = "ubuntu-22-04-x64"
ssh_key_fingerprint = "replace-with-your-ssh-key-fingerprint"
